doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Aircopter Project
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/copter.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#announcements') Announcements
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#resourcelinks') Resource Links
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#schedule') Schedule
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#recordings') Lecture Recordings
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#slides') Lecture Slides
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#labsandassignments') Labs and Assignments
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#meme') Meme

        // Page Content
        .container-fluid.p-0

            // Announcements
            section#announcements.resume-section
                .resume-section-content
                    h1.mb-0
                        | Aircopter
                        span.text-primary Project
                    .subheading.mb-5
                        | Announcements
                    p.lead.mb-5
                        | Hey everyone! We're super excited to work with you guys this year. Applications will be due this Saturday, and we will be trying our best to get the results out on Sunday. Our first lecture will take place Tuesday evening, so if you plan on joining please plan to keep that time open!

            hr.m-0

            // Resource Links
            section#resourcelinks.resume-section
               .resume-section-content
                    h2.mb-5 Resource Links
                    ul
                        li
                                h3.mb-4 Lecture Link
                        li
                            a(href='https://docs.google.com/document/d/1IG710mcVSViY8GyS0f_dNkG8aSfVL2-B9zeJZDGgZng/edit?usp=sharing')
                                h3.mb-4 Syllabus
                        li
                            a(href='https://www.facebook.com/groups/aircopter')
                                h3.mb-4 Facebook Group
                        li
                            a(href='https://discord.gg/9YK3qNA')
                                h3.mb-4 Discord Group
                        li
                                h3.mb-4 Team Spreadsheet
                        li
                                h3.mb-4 Design Review Signups
                        li
                                h3.mb-4 Lab Hours Schedule

            hr.m-0

            //Schedule
            section#schedule.resume-section
                           .resume-section-content
                                h2.mb-5 Schedule

                                p
                                    | sdfposdpfo

            //Lecture Recordings
            section#recordings.resume-section
                .resume-section-content
                    h2.mb-5 Lecture Recordings
                    ul
                        li
                               h3.mb-4 Lecture 1 - Motor Drivers
                        li
                                h3.mb-4 Lecture 2 - Schematics Part 1
                        li
                                h3.mb-4 Lecture 3 - Schematics Part 2
            hr.m-0

            //Lecture Slides
            section#slides.resume-section
                .resume-section-content
                    h2.mb-5 Lecture Slides
                    ul
                        li
                            h3.mb-4 Lecture 1 - Motor Drivers
                        li
                            h3.mb-4 Lecture 2 - Schematics Part 1
                        li
                            h3.mb-4 Lecture 3 - Schematics Part 2
            hr.m-0





            // Labs and Assignments
            section#labsandassignments.resume-section
                .resume-section-content
                    h2.mb-5 Labs and Assignments
                    ul
                        li
                            a(href='https://docs.google.com/document/d/1UIhmL72bxq_O6MIOXgJOtniVu0P6w66xQEKz2eO1fV8/edit?usp=sharing')
                                h3.mb-4 Lab 1-Motor Drivers
                                    .subheading.mb-0 &nbsp;&nbsp;&nbsp;&nbsp;Checkpoints 1,2 due Monday, Oct. 26
                                    .subheading.mb-0 &nbsp;&nbsp;&nbsp;&nbsp;Checkpoint 3 due Wednesday, Oct. 28
                        li
                            a(href='https://docs.google.com/document/d/1UIhmL72bxq_O6MIOXgJOtniVu0P6w66xQEKz2eO1fV8/edit?usp=sharing')
                                h3.mb-4 Lab 2
                        li
                            a(href='https://docs.google.com/document/d/1UIhmL72bxq_O6MIOXgJOtniVu0P6w66xQEKz2eO1fV8/edit?usp=sharing')
                                h3.mb-4 Design Reviews
            hr.m-0

            //Meme
            section#meme.resume-section
                .resume-section-content
                    h2.mb-0 Meme of the week
                    .subheading.mb-5 Grace my eyes with your favorite meme for this week and I might put it here but for now here's Aaron's
            hr.m-0

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')
